@keyframes runningstroke{}

.red{ /* красный */
	background-color: red;
}

.blue{ /* синий */
	background-color: blue;
}

.shapka{ /* шапка */
	width: 100%;
	height: 10%;
	background: white;
	display: flex;
	position: fixed;
}

.imgHat{
	height: 70%; 
	margin-top: auto; 
	margin-bottom: auto;
}

.cont{ /* тело */
	overflow-x: hidden;
    overflow-y: hidden;
    min-height: 1000px;
    width: 90%;
}

.container{
	padding-top: 20px;
	padding-top: 20px;
}

.ots{ /* авто-отступ */
	margin-right: auto;
	margin-left: auto;
}

.banner{ /* баннер */
	width: 100%;
}

.circ{ /* кружки */
	position: absolute;
	height: 21.5%;
	width: 13%;
	border-radius: 150px;
	filter: blur(55px);
	z-index: -1;
}

.button{
	width: 1365px;
	height: 180px;
	background: linear-gradient(90.16deg, #96EA41 -5.24%, #6BF9BF 100.84%);
	border-radius: 1000px;
}